@model ScheduleBuilder.Model.Position

@{
    ViewBag.Title = "DeactivatePosition";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>DeactivatePosition</h2>
@if (Session["roleTitle"].ToString() == "Employee")
{
    <h1 style="color:red">You do not have access here.</h1>
    @Html.ActionLink("Return Home", "Index", "Home")
}
else
{
    <h3>Are you sure you want to deactivate this?</h3>
    <div>
        <h4>Position</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.positionTitle)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.positionTitle)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.isActive)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.isActive)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.positionDescription)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.positionDescription)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Deactivate" class="btn btn-default" /> |
                @Html.ActionLink("Back to List", "Positions")
            </div>
        }
    </div>
}
