<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("Scheldule Manager", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                @if (@Session["user"] == null)
                {
                    <li></li>
                }
                else
                {
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("TimeCard", "AddTimePunchPage", "Shift")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Employees", "PeopleDirectory", "Home")</li>
                    if (Session["roleTitle"].ToString() == "Employee")
                    {
                        <li></li>
                    }
                    else
                    {
                        <li>@Html.ActionLink("Add Employee", "AddPerson", "Person")</li>
                        <li>@Html.ActionLink("Positions", "Positions", "Position")</li>
                    }
                }
            </ul>
            <ul class="nav navbar-nav navbar-right">
                @if (@Session["user"] == null)
                {
                    <li>@Html.ActionLink("Login", "Login", "Home")</li>
                }
                @if (@Session["user"] != null)
                {
                    <li style="color:white; padding-top:1em"><strong>@Session["user"]</strong></li>
                    <li>@Html.ActionLink("Logout", "Logout", "Home")</li>
                }
            </ul>
        </div>
    </div>
</div>
