@model IEnumerable<ScheduleBuilder.Model.Person>

@{
    ViewBag.Title = "GetAllPeoples";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>All Employees</h2>
@if (Session["roleTitle"].ToString() == "Employee")
{
    <p></p>
}
else
{
    <p>
        @Html.ActionLink("Add Employee", "AddPerson")
    </p>
}
<table class="a">
    <thead>
        <tr class="tablestyle">
            <th>Name</th> 
            <th>Date Of Birth</th>
            <th>Phone Number</th>
            <th>Address</th>
            <th>Zip Code</th>
            <th>Email</th>
            <th></th>
        </tr>
    </thead>

        @foreach (var item in Model)
        {
            <tr class="row_alternate">
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName) @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateOfBirth)
                </td>
                <td>
                    
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StreetAddress)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Zipcode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @if (Session["roleTitle"].ToString() == "Employee")
                    {
                        <p></p>
                    }
                    else
                    {
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) <span>|</span>
                        @Html.ActionLink("Add Position", "AddPosition", new { id = item.Id }) <span>|</span>
                        @Html.ActionLink("Details", "Details", new { id = item.Id }) <span>|</span>
                        @Html.ActionLink("Deactivate", "Delete", new { id = item.Id })
                    }
                </td>
            </tr>
        }

</table>
