@model ScheduleManager.Model.Shift

<div>
    <h4>Shift</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.scheduledShiftID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.scheduledShiftID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.personID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.personID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.personFirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.personFirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.personLastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.personLastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.positionID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.positionID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.positionName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.positionName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.scheduledStartTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.scheduledStartTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.scheduledEndTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.scheduledEndTime)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.shiftID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
