@model IEnumerable<ScheduleBuilder.Model.Person>

@{
    ViewBag.Title = "SearchPeople";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>SearchPeople</h2>

<p>
    @Html.ActionLink("Add Employee", "AddPerson", "Person")
</p>
<table class="a">
    <thead>
        <tr class="tablestyle">
            <th>Name</th>
            <th>Date Of Birth</th>
            <th>Phone Number</th>
            <th>Address</th>
            <th>Zip Code</th>
            <th>Email</th>
            <th></th>
        </tr>
    </thead>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName) @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfBirth)
            </td>
            <td>

                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StreetAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Zipcode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @if (Session["roleTitle"].ToString() == "Employee")
                {
                    <p></p>
                }
                else
                {
                    @Html.ActionLink("Edit", "Edit", "Person", new { id = item.Id }, null) <span>|</span>
                    @Html.ActionLink("Details", "Details", "Person", new { id = item.Id }, null) <span>|</span>
                    @Html.ActionLink("Delete", "Delete", "Person", new { id = item.Id }, null)
                }
            </td>
        </tr>
    }

</table>

<div>
    @Html.ActionLink("Back Employee Directory", "PeopleDirectory", "Home")
</div>
